.width{
    width: 13%;
    min-height: 100%;  
    float: left;
}
/* .pad{
    padding-top: 25%;
} */
ul li:hover{
    font-size: large;
    color: black;
    outline: 1px solid black;
}
.dFlex{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .response {
      font-size: 15px;
    }
    .width{
        width: 29%;
        height: 100%;
    }

    ul li:hover{
        font-size: medium;
        color: black;
        outline: 1px solid black;
    }
  }
