@media all and (min-width: 480px) {
    .formContainer {
      padding: 60px 0;
    }
  
    form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.button {
    width: 100px;
    border-radius: 3px;
    margin-top: 1rem;
    margin: "15px";
    margin-bottom: 3rem;
}

#dashboardBtn {
    margin: 100px;
}

.secondary-content {
    color: red;
}

.col-md-4 {
    margin-left: 300px;
    width: 500px;
}

.collection {
    align-content: center;
    margin-right: 30px;
}

.card-tabs {
    width: 73.5%;
    margin-left: 75px;
}

.card {
    width: 100%;
    position: relative;
    margin-left: 100px;
    /* height: 75vh; */
}

textarea {
    width: 80%;
    align-content: center;
    
    
}

input {
    width: 80%;
    align-content: center;
    
}

.smFonts {
    padding-top: 5%;
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    font-style: italic;
}